{ns operation
import #{aidbox.rest
         injestion.core
         mapping
         lisp}

 map-to-fhir
 {:zen/tags #{aidbox.rest/op}
  :engine   injestion.core/map-to-fhir-bundle
  :mapping  mapping/my-mapping
  :format   "fhir"}

 }
