{ns smartbox.portal.kustomization

 configuration
 {:zen/tags #{zen/schema}
  :type     zen/map
  :keys     {:media {:type zen/map
                     :keys {:text  {:type zen/map
                                    :keys {:brand {:type zen/string}}}
                            :image {:type zen/map
                                    :keys {:favicon {:type zen/string}
                                           :logo    {:type zen/string}}}}}}}

 tenant
 {:zen/tags #{zen/schema}
  :confirms #{configuration}
  :require  #{:id}
  :type     zen/map
  :keys     {:id {:type zen/string}}}

 manifest
 {:zen/tags #{zen/schema zen/tag}
  :type     zen/map
  :keys     {:configuration {:confirms #{configuration}}
             :tenants       {:type zen/vector :every {:confirms #{tenant}}}}}}
