{ns     smartbox.portal.rpc
 import #{zenbox}

 change-user-password
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:password-1 :password-2}
             :keys    {:password-1 {:type zen/string :minLength 6}
                       :password-2 {:type zen/string :minLength 6}}}}

 reset-user-password
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:email}
             :keys    {:email {:type zen/string}}}}

 get-two-factor-qrcode
 {:zen/tags #{zenbox/rpc}}

 disable-two-factor
 {:zen/tags #{zenbox/rpc}}

 enable-two-factor
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:token :secret-key}
             :keys    {:token      {:type zen/string}
                       :secret-key {:type zen/string}}}}
 

 confirm-reset-user-password
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id :password-1 :password-2}
             :keys    {:id         {:type zen/string}
                       :password-1 {:type zen/string :minLength 6}
                       :password-2 {:type zen/string :minLength 6}}}}}
