ns smartbox.documentation
import #{aidbox.rest
         aidbox.rest.smart}

http-response
{:zen/tags #{zen/tag zen/schema}
 :zen/desc "Server http response"
 :type     zen/map
 :require  #{:status}
 :keys     {:status {:type zen/integer}
            :body   {:type zen/any}}}

response-unauthorized
{:zen/tags #{http-response}
 :zen/desc "Unauthorized access"
 :status   401
 :body     {:resourceType "OperationOutcome"
            :id "login"
            :text {:status "generated" :div "Unauthorized"}
            :issue
            [{:severity "fatal", :code "login", :diagnostics "Unauthorized"}]}}

operation-response
{:zen/tags #{zen/tag zen/schema}
 :zen/desc "Server http response"
 :type     zen/map
 :keys     {:response {:type  zen/vector
                       :every {:type zen/symbol :tags #{http-response}}}}}

response-access-denied
{:zen/tags #{zen/schema http-response}
 :zen/desc "Access denied"
 :type     zen/map
 :status   403
 :body     {:resourceType "OperationOutcome"
            :id           "forbidden"
            :text         {:status "generated" :div "Forbidden"}
            :issue        [{:severity "fatal" :code "forbidden" :diagnostics "Forbidden"}]}}


