{ns smartbox.multi-tenant-bulk-api
 import #{aidbox.rest
          aidbox.rest.smart
          aidbox.rest.acl
          aidbox.rest.v1}

 root-api
 {:zen/tags #{aidbox.rest/api}
  :middlewares     [prefix-middleware]
  "metadata"       {:GET bulk-metadata}

  "$redirect"      {:GET {:engine aidbox.rest.v1/aidbox-action
                          :action :onc.certification/redirect}}

  "Group"          {:GET search-group

                    ;; TODO: write sql access policies for those operations
                    [:id] {:GET      {:engine   aidbox.rest.v1/read
                                      :zen/desc "Reads the current state of a resource. See documentation at: https://www.hl7.org/fhir/http.html#read"
                                      :resource "Group"
                                      :format   "fhir"}
                           "$export" {:GET {:engine aidbox.rest.v1/aidbox-action
                                            :action :box.fhir.bulk.export.core/start-fhir-group-level-export
                                            :types-on-param-absense :session-scope}}}}

  "$export-status" {[:bulk-export-id] {:GET {:engine aidbox.rest.v1/aidbox-action
                                             :action :box.fhir.bulk.export.core/export-status}
                                       :DELETE {:engine aidbox.rest.v1/aidbox-action
                                                :action :box.fhir.bulk.export.core/cancel-export}}}}

 search-group
 {:zen/tags #{aidbox.rest/op}
  :engine   aidbox.rest.acl/search
  :resource "Group"
  :format   "fhir"
  :filter   tenant-filter}

 tenant-filter
 {:zen/tags     #{aidbox.rest.acl/filter}
  :expression  client-tenant-filter-sql-template}

 client-tenant-filter-sql-template
 {:zen/tags #{aidbox.rest.acl/sql-template}
  :params   {:client-tenant client-tenant}
  :template "resource#>>'{meta,_tenant}' = {{params.client-tenant}}"}

 client-tenant
 {:zen/tags      #{aidbox.rest.acl/request-param}
  :source-schema {:type zen/string}
  :path          [:client :meta :_tenant]}



 prefix-middleware
 {:zen/tags #{aidbox.rest/middleware}
  :engine aidbox.rest.smart/fhir-base-url
  :prefix "/multi-tenant/bulk-api"}

 bulk-metadata
 {:zen/tags #{aidbox.rest/op}
  :engine   aidbox.rest.v1/static-response
  :status 200
  :body {:id "bulk-data"
         :resourceType "CapabilityStatement"
         :status "active"
         :date "2022-01-01"
         :kind "requirements"
         :fhirVersion "4.0.1"
         :format ["json"]
         :instantiates ["http://hl7.org/fhir/uv/bulkdata/CapabilityStatement/bulk-data"] ;; required by bulk-export guide
         :implementationGuide ["http://hl7.org/fhir/uv/bulkdata/ImplementationGuide/hl7.fhir.uv.bulkdata"]
         :rest [{:mode "server"
                 :resource
                 [{:type "Group"
                   :operation
                   [{:name "export"
                     :definition "http://hl7.org/fhir/uv/bulkdata/OperationDefinition/group-export"}]}]
                 :operation
                 [{:name "export"
                   :definition "http://hl7.org/fhir/uv/bulkdata/OperationDefinition/export"}]}]}}

 }
