{ns     smartbox.patient-portal
 import #{aidbox
          zenbox}

 seed
 {:zen/tags #{aidbox/service}
  :engine   aidbox/seed
  :resources
  {:AccessPolicy
   {:smartbox-patient-portal-rpc-methods
    {:description  "RPC methods for the patient portal"
     :type         "rpc"
     :engine       "matcho-rpc"
     :rpc
     {:smartbox.patient-portal/get-smart-applications
      {:user {:roles [{:type "patient"}]}}
      :smartbox.patient-portal/revoke-application-grants
      {:user {:roles [{:type "patient"}]}}
      :smartbox.patient-portal/enroll
      {:user {:roles [{:type "patient"}]}}
      :aidbox.smart/get-launch-uri
      {:user {:roles [{:type "patient"}]}}}}
    :smartbox-patient-portal-public-rpc-methods
    {:description "Public RPC methods for the patient portal"
     :engine      "allow-rpc"
     :type        "rpc"
     :rpc         {:smartbox.patient-portal/enroll true}}}

   :NotificationTemplate
   {:patient-confirm-email
    {:template
     "<p>Follow the link to verify your email and get started:</p>
      <a href={{confirm-address}}>Confirm</a>"}}}}

 get-smart-applications
 {:zen/tags #{zenbox/rpc}}

 revoke-application-grants
 {:zen/tags #{zenbox/rpc}
  :params   {:type     zen/map
             :require  #{:id}
             :keys     {:id {:type zen/string}}}}

 enroll
 {:zen/tags #{zenbox/rpc}
  :params   {:type     zen/map
             :require  #{:first-name :last-name :email :member-id}
             :keys     {:first-name {:type zen/string}
                        :last-name  {:type zen/string}
                        :email      {:type zen/string}
                        :member-id  {:type zen/string}}}}
 }
