{ns     smartbox.portal
 import #{aidbox
          aidbox.rest
          smartbox.demo-fixtures
          smartbox.smart-api
          smartbox.bulk-api
          smartbox.multi-tenant-bulk-api
          smartbox.documentation
          smartbox.inferno-demo
          smartbox.patient-portal
          hl7-fhir-r4-core
          hl7-fhir-us-core
          zenbox}

 test-box
 {:zen/tags #{aidbox/system}
  :services {:http                 server
             :seed                 access-policies
             :patient-portal-seed  smartbox.patient-portal/seed
             :seed-fixtures        smartbox.demo-fixtures/fixtures
             :seed-inferno-clients inferno-clients}}

 box
 {:zen/tags #{aidbox/system}
  :services {:http                server
             :seed                access-policies
             :patient-portal-seed smartbox.patient-portal/seed}}


 server
 {:zen/tags #{aidbox/service}
  :engine   aidbox/http
  :apis     #{api}}

 access-policies
 {:zen/tags   #{aidbox/service}
  :engine     aidbox/seed
  :migrations [{:id  "remove-access-policy-bulk-api-client-cancel-export"
                :sql "delete from accesspolicy where id = 'bulk-api-client-cancel-export'"}]
  :resources  [{:id           "smart-api"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri     "#/smart/.*"
                               :session {:audience "#.+smart$"}
                               :client  {:$not {:active false}}}}
               {:id           "inferno-public-endpoints"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri {:$one-of ["/"
                                               "/documentation"
                                               "/inferno"
                                               "/inferno/create-demo-user"
                                               "/inferno/logout"
                                               "/portal"

                                               "/smart/api"
                                               "/smart/ui" ;; FIXME: remove
                                               "/smart/demo/profile"
                                               "/smart/demo/login"
                                               "/smart-auth/grant"]}}}
               {:id           "smart-api-public-endpoints"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri {:$one-of ["/smart/metadata"
                                               "/smart/.well-known/smart-configuration"
                                               "/smart/style-v1.json"
                                               "/smart-auth/grant"]}}}
               {:id           "portal-operator-rpc"
                :description  "RPC methods for the portal operator"
                :resourceType "AccessPolicy"
                :type         "rpc"
                :engine       "matcho-rpc"
                :rpc
                {:smartbox.portal/get-review-requests
                 {:user {:roles [{:type "operator"}]}}
                 :smartbox.portal/get-review-request
                 {:user {:roles [{:type "operator"}]}}
                 :smartbox.portal/reject-review-request
                 {:user {:roles [{:type "operator"}]}}
                 :smartbox.portal/accept-review-request
                 {:user {:roles [{:type "operator"}]}}
                 :smartbox.portal/get-deployed-applications
                 {:user {:roles [{:type "operator"}]}}
                 :smartbox.portal/get-deployed-application
                 {:user {:roles [{:type "operator"}]}}
                 :smartbox.portal/inactive-deployed-application
                 {:user {:roles [{:type "operator"}]}}
                 :smartbox.portal/activate-deployed-application
                 {:user {:roles [{:type "operator"}]}}}}
               {:id           "bulk-api-metadata"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri "/bulk/metadata"}}
               {:id           "bulk-api-redirect"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri "/bulk/$redirect"}}
               {:id           "bulk-api-client-group-export"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri            "#/bulk/Group/.+/\\$export"
                               :request-method "get"
                               :params         {:_type "nil?"}
                               :client         {:type "bulk"}}}
               {:id           "bulk-api-client-system-all-read"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri            {:$one-of ["#/bulk/Group/[^/]+$"
                                                          "#/bulk/Group$"]}
                               :request-method "get"
                               :client         {:type "bulk"}}}
               {:id           "bulk-api-client-can-manage-only-own-export-status"
                :resourceType "AccessPolicy"
                :engine       "sql"
                :sql          {:query "select true
from bulkexportstatus
where id = {{params.bulk-export-id}}
and {{client.id}} = resource#>>'{requester,id}'
and resource#>>'{requester,resourceType}' = 'Client'
and {{uri}} LIKE '/bulk/$export-status/%'
and ({{request-method}} in ('get', 'delete'))"}}

               {:id           "multi-tenant-bulk-api-client-group-search"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri            "/tenant/bulk-api/Group"
                               :request-method "get"
                               :client         {:type "multi-tenant-bulk"}}}

               {:id           "multi-tenant-bulk-api-redirect"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri "/tenant/bulk-api/$redirect"}}
               {:id           "multi-teanant-bulk-api-metadata"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri "/tenant/bulk-api/metadata"}}
               {:id           "multi-tenant-bulk-api-client-can-read-and-export-group-from-same-tenant"
                :resourceType "AccessPolicy"
                :engine       "sql"
                :sql          {:query "select true
from \"group\"
where id = {{params.id}}
and resource#>>'{meta,_tenant}' = {{client.meta._tenant}}
and ({{uri}} LIKE '/tenant/bulk-api/Group/%' or {{uri}} LIKE '/tenant/bulk-api/Group/%/$export')
and {{request-method}} = 'get'
and {{client.type}} ='multi-tenant-bulk'"}}
               {:id           "multi-tenant-bulk-api-client-can-manage-only-own-export-status"
                :resourceType "AccessPolicy"
                :engine       "sql"
                :sql          {:query "select true
from bulkexportstatus
where id = {{params.bulk-export-id}}
and {{client.id}} = resource#>>'{requester,id}'
and resource#>>'{requester,resourceType}' = 'Client'
and {{uri}} LIKE '/tenant/bulk-api/$export-status/%'
and ({{request-method}} in ('get', 'delete'))"}}

               {:id           "multi-tenant-smart-api-public-endpoints"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri {:$one-of ["#/tenant/[^/]+/smart-api/metadata"
                                               "#/tenant/[^/]+/smart-api/.well-known/smart-configuration"
                                               "#/tenant/[^/]+/smart-api/style-v1.json"

                                               ;; FIXME: what is it?
                                               "#/tenant/[^/]+/smart-api-auth/grant"]}}}

               {:id           "multi-tenant-auth-public-endpoints"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri {:$one-of ["#/tenant/[^/]+/auth/authorize$"
                                               "#/tenant/[^/]+/auth/login$"
                                               "#/tenant/[^/]+/auth/logout$"
                                               "#/tenant/[^/]+/auth/grant$"
                                               "#/tenant/[^/]+/auth/grants$"
                                               "#/tenant/[^/]+/auth/sessions$"
                                               "#/tenant/[^/]+/auth/smart-apps$"
                                               "#/tenant/[^/]+/auth/two-factor$"]}}}

               {:id           "multi-tenant-smart-api"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri     "#/tenant/[^/]+/smart-api/.*"
                               :session {:audience "#/tenant/[^/]+/smart-api$"}
                               :client  {:$not {:active false}}}}

               {:sql
                {:query
                 "select {{request-method}} = 'delete' and  {{uri}} LIKE '/tenant/%/auth/grants%' and  (select true from \"grant\" where (resource#>>'{user,id}' = {{user.id}}) and id = {{params.id}} limit 1)"},
                :engine "sql",
                :id "multi-tenant-auth-user-grants",
                :resourceType "AccessPolicy"}

               {:sql
                {:query
                 "select {{request-method}} = 'delete' and  {{uri}} LIKE '/tenant/%/auth/sessions%' and  (select true from \"session\" where (resource#>>'{user,id}' = {{user.id}} or resource#>>'{on-behalf,id}' = {{user.id}}) and id = {{params.id}} limit 1)"},
                :engine "sql",
                :id "multi-tenant-auth-user-sessions",
                :resourceType "AccessPolicy"}
              ]}

 inferno-clients
 {:zen/tags  #{aidbox/service}
  :engine    aidbox/seed
  :resources [{:id           "inferno-g10-bulk-client"
               :resourceType "Client"
               :auth         {:client_credentials {:client_assertion_types  ["urn:ietf:params:oauth:client-assertion-type:jwt-bearer"]
                                                   :access_token_expiration 300}}
               :scope        ["system/*.read"]
               :type         "bulk"
               :jwks_uri     "https://inferno.healthit.gov/suites/custom/g10_certification/.well-known/jwks.json"
               :grant_types  ["client_credentials"]}
              {:id           "inferno-g10-client"
               :resourceType "Client"
               :grant_types  ["authorization_code" "basic"]
               :auth         {:authorization_code
                              {:pkce                    true
                               :refresh_token           true
                               :secret_required         true
                               :audience                ["https://cmpl.aidbox.app/smart"]
                               :redirect_uri            "https://inferno.healthit.gov/suites/custom/smart/redirect"
                               :access_token_expiration 300}}
               :smart        {:launch_uri "https://inferno.healthit.gov/suites/custom/smart/launch"}
               :secret       "inferno-secret"}
              {:id           "inferno-g10-public-client"
               :resourceType "Client"
               :auth         {:authorization_code
                              {:pkce                    true
                               :refresh_token           true
                               :secret_required         false
                               :audience                ["https://cmpl.aidbox.app/smart"]
                               :redirect_uri            "https://inferno.healthit.gov/suites/custom/smart/redirect"
                               :access_token_expiration 300}}
               :smart        {:launch_uri "https://inferno.healthit.gov/suites/custom/smart/launch"}
               :grant_types  ["authorization_code"
                             "basic"]}]}

 portal-ui
 {:zen/tags #{aidbox.rest/op aidbox.rest.smart/public}
  :engine   aidbox.rest.v1/aidbox-action
  :action   :box.rest.smart/smartbox-ui}

 documentation-page
 {:zen/tags #{aidbox.rest/op aidbox.rest.smart/public}
  :zen/desc "Smart API documentation"
  :engine   aidbox.rest.v1/aidbox-action
  :action   :box.rest.smart/api-doc}

 api
 {:zen/tags #{aidbox.rest/api}

  "smart-auth" {"grant" {:GET smartbox.smart-api/grant-view}}

  :GET            smartbox.inferno-demo/create-demo-user-page
  "inferno"       {:GET               smartbox.inferno-demo/demo-user-page
                   "create-demo-user" {:POST smartbox.inferno-demo/demo-user-auth}
                   "logout"           {:GET smartbox.inferno-demo/logout-demo-user}}
  "documentation" {:GET documentation-page}

  "portal" {:GET portal-ui}

  "tenant" {[:tenant] {"smart-api" {:apis #{smartbox.smart-api/smart-api}

                                    "metadata"      {:GET {:engine aidbox.rest.v1/aidbox-action
                                                           :action :smart.fhir/multi-tenant-capability}}
                                    ".well-known"   {"smart-configuration" {:GET {:engine aidbox.rest.v1/aidbox-action
                                                                                  :action :smart.fhir/multi-tenant-smart-configuration}}}
                                    "style-v1.json" {:GET smartbox.smart-api/style-smart-op}}

                       "auth" {"login" {:GET {:engine         aidbox.rest.v1/aidbox-action
                                              :action         :auth/login-view
                                              :logout-url     ["tenant" [:request :route-params :tenant] "auth" "logout"]
                                              :login-url      ["tenant" [:request :route-params :tenant] "auth" "login"]
                                              :session-url    ["tenant" [:request :route-params :tenant] "auth" "sessions"]
                                              :grant-url      ["tenant" [:request :route-params :tenant] "auth" "grants"]
                                              :two-factor-url ["tenant" [:request :route-params :tenant] "auth" "two-factor"]
                                              :smart-app-url  ["tenant" [:request :route-params :tenant] "auth" "smart-apps"]}

                                        :POST {:engine           aidbox.rest.v1/aidbox-action
                                               :action           :auth/login
                                               :authorize-url    ["tenant" [:request :route-params :tenant] "auth" "authorize"]
                                               :tenant           {:resource-path [:meta :_tenant]
                                                                  :ctx-path      [:request :route-params :tenant]}
                                               :asid-cookie-path ["tenant" [:request :route-params :tenant]]}}

                               "sessions"
                               {:GET
                                {:engine                  aidbox.rest.v1/aidbox-action
                                 :action                  :auth/sesisons-view
                                 :drop-session-prefix-url ["tenant" [:request :route-params :tenant] "auth" "sessions" [:request :route-params :session-id]]
                                 :login-url               ["tenant" [:request :route-params :tenant] "auth" "login"]
                                 :session-url             ["tenant" [:request :route-params :tenant] "auth" "sessions"]
                                 :grant-url               ["tenant" [:request :route-params :tenant] "auth" "grants"]
                                 :two-factor-url          ["tenant" [:request :route-params :tenant] "auth" "two-factor"]
                                 :smart-app-url           ["tenant" [:request :route-params :tenant] "auth" "smart-apps"]}

                                [:id]
                                {:DELETE {:engine   aidbox.rest.v1/delete
                                          :resource "Session"
                                          :format   "fhir"}}}

                               "grants" {:GET {:engine aidbox.rest.v1/aidbox-action
                                               :action :auth/grants-view
                                               :drop-grant-prefix-url ["tenant" [:request :route-params :tenant] "auth" "grants" [:request :route-params :session-id]]
                                               :login-url      ["tenant" [:request :route-params :tenant] "auth" "login"]
                                               :session-url    ["tenant" [:request :route-params :tenant] "auth" "sessions"]
                                               :grant-url      ["tenant" [:request :route-params :tenant] "auth" "grants"]
                                               :two-factor-url ["tenant" [:request :route-params :tenant] "auth" "two-factor"]
                                               :smart-app-url  ["tenant" [:request :route-params :tenant] "auth" "smart-apps"]}

                                         [:id]
                                         {:DELETE {:engine   aidbox.rest.v1/delete
                                                   :resource "Grant"
                                                   :format   "fhir"}}}
                               "smart-apps" {:GET {:engine         aidbox.rest.v1/aidbox-action
                                                   :action         :auth/smart-apps-view
                                                   :login-url      ["tenant" [:request :route-params :tenant] "auth" "login"]
                                                   :session-url    ["tenant" [:request :route-params :tenant] "auth" "sessions"]
                                                   :grant-url      ["tenant" [:request :route-params :tenant] "auth" "grants"]
                                                   :two-factor-url ["tenant" [:request :route-params :tenant] "auth" "two-factor"]
                                                   :smart-app-url  ["tenant" [:request :route-params :tenant] "auth" "smart-apps"]}}
                               "two-factor" {:GET {:engine aidbox.rest.v1/aidbox-action
                                                   :action :auth/two-factor-view

                                                   :login-url      ["tenant" [:request :route-params :tenant] "auth" "login"]
                                                   :session-url    ["tenant" [:request :route-params :tenant] "auth" "sessions"]
                                                   :grant-url      ["tenant" [:request :route-params :tenant] "auth" "grants"]
                                                   :two-factor-url ["tenant" [:request :route-params :tenant] "auth" "two-factor"]
                                                   :smart-app-url  ["tenant" [:request :route-params :tenant] "auth" "smart-apps"]
                                                   }}
                               "logout" {:POST {:engine           aidbox.rest.v1/aidbox-action
                                                :action           :auth/logout
                                                :login-url        ["tenant" [:request :route-params :tenant] "auth" "login"]
                                                :asid-cookie-path ["tenant" [:request :route-params :tenant]]}}

                               "grant"     {:POST {:engine             aidbox.rest.v1/aidbox-action
                                                   :action             :auth/grant
                                                   :authorize-redirect ["tenant" [:request :route-params :tenant] "auth" "authorize"]}
                                            :GET  {:engine    aidbox.rest.v1/aidbox-action
                                                   :action    :auth/grant-view-v2
                                                   ;; FIXME: find proper way to propagate params
                                                   :grant-url ["tenant" [:request :route-params :tenant] "auth" "grant"]}}
                               "authorize" {:GET {:engine         aidbox.rest.v1/aidbox-action
                                                  :action         :auth/authorization-request-endpoint
                                                  ;; FIXME: find proper way to propagate params
                                                  :grant-redirect ["tenant" [:request :route-params :tenant] "auth" "grant"]
                                                  :login-redirect ["tenant" [:request :route-params :tenant] "auth" "login"]}}}}
            "bulk-api" {:apis #{smartbox.multi-tenant-bulk-api/root-api}}}

  "smart" {:apis #{smartbox.smart-api/smart-api
                   smartbox.smart-api/legacy-public-api
                   smartbox.smart-api/public-api}}
  "bulk"  {:apis #{smartbox.bulk-api/bulk-api}}}

 get-review-requests
 {:zen/tags #{zenbox/rpc}}

 get-review-request
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id {:type zen/string}}}}

 reject-review-request
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id     {:type zen/string}
                       :reason {:type zen/string}}}}

 accept-review-request
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id {:type zen/string}}}}

 get-deployed-applications
 {:zen/tags #{zenbox/rpc}}

 get-deployed-application
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id {:type zen/string}}}}

 inactive-deployed-application
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id {:type zen/string}}}}

 activate-deployed-application
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id {:type zen/string}}}}

 }

