{ns smartbox.portal.config
 import #{smartbox.portal.kustomization}

 manifest
 {:zen/tags #{smartbox.portal.kustomization/manifest}

  :configuration
  {:media {:text  {:brand "BestNotes"}
           :image {:favicon "https://www.bestnotes.com/wp-content/uploads/2021/11/fav.png"
                   :logo    "https://www.bestnotes.com/wp-content/uploads/2021/11/main-big.png"}}}

  :tenants
  [{:id    "clinic-a"
    :media {:text  {:brand "Amen Clinics"}
            :image {:favicon "https://www.amenclinics.com/wp-content/uploads/2020/08/cropped-favicon-32x32.png"
                    :logo    "https://e7.pngegg.com/pngimages/851/1003/png-clipart-logo-amen-clinics-organization-child-adolescent-clinic-brand-corban-text-logo.png"}}}]}}
