{ns smartbox.portal.kustomization

 configuration
 {:zen/tag #{zen/schema}
  :type    zen/map
  :keys    {:media {:text  {:brand {:type zen/string}}
                    :image {:favicon {:type zen/string}
                            :logo    {:type zen/string}}}}}

 tenant
 {:zen/tag  #{zen/schema}
  :confirms #{configuration}
  :require  #{:id}
  :type     zen/map
  :keys     {:id {:type zen/string}}}

 manifest
 {:zen/tags #{zen/schema zen/tag}
  :type     zen/map
  :keys     {:configuration {:confirm #{configuration}}
             :tenants       {:type zen/vector :every {:confirms #{tenant}}}}}}
