{ns smartbox.inferno-demo
 import #{aidbox.rest
          aidbox.dsl
          aidbox.rest.smart}

 ;; public endpoints
 demo-user-auth
 {:zen/tags #{aidbox.rest/op aidbox.rest.smart/public}
  :zen/desc "Demo user auth"
  :engine   aidbox.rest.v1/aidbox-action
  :action   :box.rest.smart/demo-user-auth}

 demo-user-page
 {:zen/tags #{aidbox.rest/op aidbox.rest.smart/public}
  :zen/desc "Demo user page"
  :engine   aidbox.rest.v1/aidbox-action
  :action   :box.rest.smart/demo-user-page}

 logout-demo-user
 {:zen/tags #{aidbox.rest/op aidbox.rest.smart/public}
  :zen/desc "Log out a demo user"
  :engine   aidbox.rest.v1/aidbox-action
  :action   :box.rest.smart/logout-demo-user}

 create-user-and-login
 {:zen/tags #{aidbox.rest/op-engine zen/schema}
  :type zen/map
  :keys {:then {:type zen/case
                :case [{:when {:type zen/symbol}
                        :then {:type zen/symbol :tags #{aidbox.rest/op}}}
                       {:when {:type zen/map}
                        :then {:type zen/map :confirms #{aidbox.rest/op}}}]}}}

 index-page
 {:zen/tags #{aidbox.dsl/hiccup}
  :hiccup
  [:html
   [:title "Create a test user"]
   [:meta {:charset "utf-8"}]
   [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
   [:link {:href "/static/assets/css/bootstrap.min.css" :rel "stylesheet"}]
   [:link {:href "/static/assets/img/fav.svg" :rel "shortcut icon" :type "image/x-icon"}]
   [:link {:href "https://rsms.me/inter/inter.css" :rel "stylesheet"}]
   [stylesheet]
   [:body
    [:div.row {:style "height: 100vh"}
     [:div.background-gray.col.d-flex.justify-content-center.align-items-center.py-5
      [:div.aidbox-info-block
       [:img.aidbox-logo {:src "/static/assets/img/aidbox-logo.svg"}]
       [:div.title-block
        [:span.header-text "HL7 FHIR API Module Sandbox "]
        [:span.header-comment "v1.0.0"]]
       [:p [:span [:a {:href "http://hl7.org/fhir/directory.html" :target "_blank"} "HL7 FHIR® API R4 v4.0.1"]]]
       [:p [:span [:a {:href "https://hl7.org/fhir/uv/bulkdata/STU1.0.1" :target "_blank"} "FHIR® Bulk Data Access v1.0.1: STU 1"]]]
       [:p [:span [:a {:href "http://hl7.org/fhir/us/core/STU3.1.1" :target "_blank"} "US Core IG STU v3.1.1"]]]
       [:p [:span [:a {:href "https://www.healthit.gov/isa/us-core-data-interoperability-uscdi" :target "_blank"} "USCDI"]]]
       [:p [:span [:a {:href "https://hl7.org/fhir/smart-app-launch/1.0.0" :target "_blank"} "HL7 SMART App Launch Framework IG v1.0.0"]]]
       [:p [:span [:a {:href "https://openid.net/specs/openid-connect-core-1_0.html" :target "_blank"} "OAuth 2.0 & OpenID Connect"]]]
       [:div.aidbox-links
        [:p [:a {:href "https://www.health-samurai.io/fhir-api" :target "_blank"} [:span "> "] [:span.text-red "Read more about the Aidbox API Module"]]]
        [:p [:a {:href "/documentation" :target "_blank"} [:span "> "] [:span.text-red "API Documentation"]]]
        [:p [:a {:href "https://docs.aidbox.app/" :target "_blank"} [:span "> "] [:span.text-red "Aidbox Documentation"]]]]]]
     [:div.col.d-flex.align-items-center.py-5
      [:div.inferno-info-block
       [:img.inferno-logo {:src "https://inferno.healthit.gov/images/inferno_logo.png"}]
       [:div.paragraph-header-text.py-4 "Create a test user and run" [:br] "ONC Inferno tests online"]
       [:div
        {:style "max-width:620px"}
        [:span "To start testing you need to create a test user within the built-in Auth server of the Aidbox sandbox. This user will be automatically associated with a test Patient and FHIR resources like Condition, AllergyIntolerance, etc."]]
       [:div.pt-4 [:span "Please fill out the form and follow the system’s instructions."]]

       [:form.user-form {:method "POST" :action "/inferno/create-demo-user"}
        [:label "Email"]
        [:input {:placeholder "example@email.com"
                 :autofocus   "on"
                 :type        "email"
                 :name        "email"
                 :required    true}]
        [:button.red-button {:type "submit"} "Create a test user"]]]]]]]}

 instruction-page
 {:zen/tags #{aidbox.dsl/hiccup}
  :params {:email {:type zen/string}}
  :hiccup
  [:html
   [:title "Create a test user"]
   [:meta {:charset "utf-8"}]
   [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
   [:link {:href "/static/assets/css/bootstrap.min.css" :rel "stylesheet"}]
   [:link {:href "/static/assets/img/fav.svg" :rel "shortcut icon" :type "image/x-icon"}]
   [:link {:href "/static/assets/fa6/css/all.min.css" :rel "stylesheet"}]
   [:link {:href "https://rsms.me/inter/inter.css" :rel "stylesheet"}]
   [stylesheet]
   [:body
    [:div.position-absolute.text-right.pt-4.pr-5 {:style "right:0;top:0;z-index:99"}
     [:span [:clj/get-param :email]]
     [:div [:a {:href "/inferno/logout"} [:span.text-red "Log out"]]]]
    [:div.row {:style "height: 100vh"}
     [:div.background-gray.col.d-flex.justify-content-center.align-items-center.py-5
      [:div.aidbox-info-block
       [:img.aidbox-logo {:src "/static/assets/img/aidbox-logo.svg"}]
       [:div.title-block
        [:span.header-text "HL7 FHIR API Module Sandbox "]
        [:span.header-comment "v1.0.0"]]
       [:p [:span [:a {:href "http://hl7.org/fhir/directory.html" :target "_blank"} "HL7 FHIR® API R4 v4.0.1"]]]
       [:p [:span [:a {:href "https://hl7.org/fhir/uv/bulkdata/STU1.0.1" :target "_blank"} "FHIR® Bulk Data Access v1.0.1: STU 1"]]]
       [:p [:span [:a {:href "http://hl7.org/fhir/us/core/STU3.1.1" :target "_blank"} "US Core IG STU v3.1.1"]]]
       [:p [:span [:a {:href "https://www.healthit.gov/isa/us-core-data-interoperability-uscdi" :target "_blank"} "USCDI"]]]
       [:p [:span [:a {:href "https://hl7.org/fhir/smart-app-launch/1.0.0" :target "_blank"} "HL7 SMART App Launch Framework IG v1.0.0"]]]
       [:p [:span [:a {:href "https://openid.net/specs/openid-connect-core-1_0.html" :target "_blank"} "OAuth 2.0 & OpenID Connect"]]]
       [:div.aidbox-links
        [:p [:a {:href "https://www.health-samurai.io/fhir-api" :target "_blank"} [:span "> "] [:span.text-red "Read more about the Aidbox API Module"]]]
        [:p [:a {:href "/documentation" :target "_blank"} [:span "> "] [:span.text-red "API Documentation"]]]
        [:p [:a {:href "https://docs.aidbox.app/" :target "_blank"} [:span "> "] [:span.text-red "Aidbox Documentation"]]]]]]
     [:div.col.d-flex.align-items-center.py-5
      [:div.inferno-info-block
       [:div.ml-4
        [:img.inferno-logo {:src "https://inferno.healthit.gov/images/inferno_logo.png"}]
        [:div.pt-4
         [:span  "Your test user was created. To start the ONC Inferno testing"
          [:br]
          "please follow the guide:"]]]
       [:div.link-items
        [:a.item-link.d-flex.justify-content-between
         {:href "https://inferno.healthit.gov/onc-certification-g10-test-kit" :target "_blank"}
         [:span.number 1]
         [:span.col "Follow the link to launch new test session "
          [:span.text-red "https://inferno.healthit.gov/onc-certification-g10-test-kit"]]
         [:img {:src "/static/assets/img/chevron-light-right.svg"}]]
        [:a.item-link.d-flex.justify-content-between
         {:href "https://raw.githubusercontent.com/Aidbox/aidbox-project-samples/main/aidbox-project-samples/onc/inferno.yaml" :target "_blank"}
         [:span.number 2]
         [:span.col "Download the YAML configuration file for "
          [:span.text-red "cmpl.aidbox.app"]
          " and run all Inferno tests with this configuration file"]
         [:img {:src "/static/assets/img/chevron-light-right.svg"}]]

        [:a.item-link.d-flex.justify-content-between
         {:href "/auth/smart-apps" :target "_blank"}
         [:span.number 3]
         [:span.col "Emulate the EHR launch within “(3) EHR Practitioner App” test suite on this page "
          [:span.text-red "https://cmpl.aidbox.app/auth/smart-apps"]
          "  and start the " [:b "inferno-g10-client"]]
         [:img {:src "/static/assets/img/chevron-light-right.svg"}]]

        [:a.item-link.d-flex.justify-content-between
         {:href "/auth/sessions" :target "_blank"}
         [:span.number 4]
         [:span.col "Revoke active session (access token from the first test suite) before performing “(6.2) Token Revocation” test on this page "
          [:span.text-red "https://cmpl.aidbox.app/auth/sessions"]]
         [:img {:src "/static/assets/img/chevron-light-right.svg"}]]

        [:a.item-link.d-flex.justify-content-between
         {:href "/auth/grants" :target "_blank"}
         [:span.number 5]
         [:span.col "Check and revoke user grants on this page "
          [:span.text-red "https://cmpl.aidbox.app/auth/grants"]]
         [:img {:src "/static/assets/img/chevron-light-right.svg"}]]]]]]]]}



 stylesheet
 {:zen/tags #{aidbox.dsl/hiccup}
  :hiccup [:style "
body {
  font-family: 'Inter';
}

.background-gray {background: #FAFAFA}

.title-block {
  padding-bottom: 32px;
}

.header-text {
  font-size: 48px;
  font-weight: 900;
  line-height: 64px;
}

.paragraph-header-text {
  font-weight: 900;
  font-size: 32px;
  line-height: 45px;
}

.header-comment {
  font-size: 48px;
  line-height: 64px;
  color: rgba(0, 0, 0, 0.3);
}

.text-red {
  color: #EA4A35
}

span {
  font-size: 18px;
  line-height: 27px;
}

p {
  margin-bottom: 10px;
}

.aidbox-links {
  margin-top: 28px;
}

.aidbox-logo {
  padding-bottom: 28px;
}

.inferno-logo {
  width: 218px;
  height: 82px;
}

.aidbox-info-block {
  max-width: 600px;
  margin-left:160px;
  margin-right:160px;
}

.inferno-info-block {
  max-width: 677px;
  margin-left:100px;
  margin-right:160px;
}

label {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}

form {
  margin-top: 45px;
}

.user-form {
  max-width: 407px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

input {
  display: block;
  width: 100%;
  padding: 17px 22px 17px 21px;
  background: #FFFFFF;
  border: 1px solid #B8B8B8;
  border-radius: 8px;
}

input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
}

.red-button {
  background: #EA4A35;
  border-radius: 8px;
  padding-top: 16px;
  padding-bottom: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 32px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  border: none;
}

.item-link {
  align-items: center;
  border-radius: 8px;
  padding: 11px 22px 11px 24px;
  margin-bottom:11px;
}

.item-link:hover {
  background: #FAFAFA;
}

.item-link:hover img {
  opacity: 1;
}

.item-link img {
  opacity: 0;
}

.item-link .number {
  font-size: 38px;
  line-height: 27px;
  padding-right: 6px;
  padding-top: 10px;
  align-self: start;
  width: 28px
}

.link-items {
  margin-top: 32px;
}

"]}

 create-demo-user-page
 {:zen/tags #{aidbox.rest/op aidbox.rest.smart/public}
  :zen/desc "Creating a demo user"
  :engine   aidbox.rest.v1/aidbox-action
  :action   :box.rest.smart/create-demo-user-page}

 }
