{ns     smartbox.portal.operator.rpc
 import #{zenbox
          smartbox.portal.developer.rpc
          smartbox.demo-fixtures}

 get-review-requests
 {:zen/tags #{zenbox/rpc}}

 get-review-request
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id {:type zen/string}}}}

 reject-review-request
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id     {:type zen/string}
                       :reason {:type zen/string}}}}

 get-operators
 {:zen/tags #{zenbox/rpc}}

 get-operator
 {:zen/tags #{zenbox/rpc}
  :params   {:type zen/map
             :keys {:id {:type zen/string}}}}

 delete-operator
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id {:type zen/string}}}}

 save-operator
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:email}
             :keys    {:id      {:type zen/string}
                       :email   {:type zen/string}
                       :name    {:type zen/string}
                       :surname {:type zen/string}}}}

 accept-review-request
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id {:type zen/string}}}}

 get-deployed-applications
 {:zen/tags #{zenbox/rpc}}

 get-deployed-application
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id {:type zen/string}}}}

 suspend-deployed-application
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id {:type zen/string}}}}

 approve-deployed-application
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id {:type zen/string}}}}

 get-patients
 {:zen/tags #{zenbox/rpc}
  :params   {}}

 enroll-patient
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id :email}
             :keys    {:id    {:type zen/string}
                       :email {:type zen/string}}}}

 get-patient-info
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id {:type zen/string}}}}

 delete-patient-user
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:id}
             :keys    {:id {:type zen/string}}}}

 edit-patient-user
 {:zen/tags #{zenbox/rpc}
  :params   {:type    zen/map
             :require #{:email}
             :keys    {:user  {:type zen/string}
                       :email {:type zen/string}
                       :phone {:type zen/string}}}}

 seed-inferno-test-data
 {:zen/tags #{zenbox/rpc}
  :opts {:seed smartbox.demo-fixtures/fixtures}
  :params {:type zen/map
           :require #{:action}
           :keys {:action {:type zen/string
                           :enum [{:value "upload"}
                                  {:value "delete"}
                                  {:value "check"}]}}}}

 attach-test-patient-to-current-user
 {:zen/tags #{zenbox/rpc}}

 detach-test-patient-from-current-user
 {:zen/tags #{zenbox/rpc}}

 inferno-clients
 {:zen/tags #{zenbox/rpc}}

 }
