{ns     multi-box.acl
 import #{aidbox.rest.acl}

 tenant-id-param
 {:zen/tags      #{aidbox.rest.acl/request-param}
  :source-schema {:type zen/string}
  :path          [:user :data :tenantId]}

 tenant-condition
 {:zen/tags #{aidbox.rest.acl/sql-template}
  :params   {:tenant-id tenant-id-param}
  :template "{{target-resource}}#>>'{meta, tenantId}' = {{params.tenant-id}}"}}
