{ns multi-box.extensions
 import #{hl7-fhir-r4-core.string
          hl7-fhir-r4-core.Patient}

 patient-tenant-id-extension
 {:zen/tags #{zen/schema zen.fhir/base-schema}
  :zen.fhir/version "0.5.11"
  :zen.fhir/type "Patient"
  :zen.fhir/profileUri "http://multitenancy-box.example.com/Extension/tenantId"
  :confirms #{hl7-fhir-r4-core.Patient/schema}
  :type zen/map
  :keys {:tenantId {:confirms #{hl7-fhir-r4-core.string/schema}
                    :fhir/extensionUri "http://multitenancy-box.example.com/Extension/tenantId"}}}}
