{ns     system
 import #{aidbox
          fixtures}

 web-config
 {:zen/tags              #{aidbox.config/web}
  :base-url              "https://vast-news-bet-5-136-88-133.loca.lt"
  :port                  8765
  :thread                8
  :max-body              10000000
  :request-save-raw-body false}

 db-config
 {:zen/tags #{aidbox.config/db}
  :pool     {:connection-timeout  30000
             :idle-timeout        1000
             :minimum-idle        2
             :maximum-pool-size   30
             :connection-init-sql "SELECT 1"}

  :database #env PGDATABASEE
  :host     #env PGHOST
  :port     #env PGPORTE
  :user     #env PGUSER
  :password #env PGPASSWORD}

 search-config
 {:zen/tags         #{aidbox.config/search}
  :zen-fhir         :disable
  :fhir-comparisons true
  :default-params   {:timeout 30
                     :total   "none"
                     :count   100}
  :chain            {:subselect true}}

 compatibility-config
 {:zen/tags #{aidbox.config/compatibility}
  :validation
  {:json-schema
   {:regex #{:fhir-datetime}}}
  :auth
  {:pkce
   {:code-challenge
    {:s256
     {:conformant true}}}}}

 auth-config
 {:zen/tags       #{aidbox.config/auth}
  :grant-page-url "/smart-auth/grant"
  :login-redirect "/ui/console"
  :keys           {:private #env AUTH_KEYS_PRIVATE
                   :public  #env AUTH_KEYS_PUBLIC
                   :secret  #env AUTH_KEYS_SECRET}}

 seed-config
 {:zen/tags #{aidbox/service}
  :engine   aidbox/seed-v2
  :resources
  {:Client
   {#env-keyword AIDBOX_CLIENT_ID
    {:secret      #env AIDBOX_CLIENT_SECRET
     :first_party true
     :grant_types ["client_credentials" "basic"]}}
   :User
   {#env-keyword AIDBOX_ADMIN_ID
    {:password #env AIDBOX_ADMIN_PASSWORD}}
   :AccessPolicy
   {:admin-policy
    {:engine "allow"
     :link   [{:resourceType "User" :id #env AIDBOX_ADMIN_ID}
              {:resourceType "Client" :id #env AIDBOX_CLIENT_ID}]}}}}

 zen-config
 {:zen/tags      #{aidbox.config/config}
  :web           web-config
  :db            db-config
  :search        search-config
  :compatibility compatibility-config
  :auth          auth-config

  :aidbox-license          #env AIDBOX_LICENSE

  :fhir-version            "4.0.1"
  :compliant-mode-enabled? true
  :override-createdat-url "http://fhir.aidbox.app/extension/createdat"
  :correct-aidbox-format   true
  :dev-mode                true
  :stdout-pretty           true
  :disable-legacy-seed     true
  }

 zen-box
 {:zen/tags #{aidbox/system}
  :config   zen-config
  :services {:seed                 seed-config
             :seed-fixtures        fixtures/fixtures}}}
