{ns     smartbox.portal.patient.seed
 import #{aidbox}

 resources
 {:zen/tags #{aidbox/service}
  :engine aidbox/seed
  :resources
  {:AccessPolicy
   {:smartbox-patient-portal-rpc-methods
    {:description  "RPC methods for the patient portal"
     :type         "rpc"
     :engine       "matcho-rpc"
     :rpc
     {:smartbox.portal.patient.rpc/get-smart-applications    {:user {:roles [{:type "patient"}]}}
      :smartbox.portal.patient.rpc/revoke-application-grants {:user {:roles [{:type "patient"}]}}
      :aidbox.smart/get-launch-uri                           {:user {:roles [{:type "patient"}]}}
      :smartbox.portal.patient.rpc/enroll                    {}
      :smartbox.portal.patient.rpc/enroll-confirm            {}
      :smartbox.portal.patient.rpc/get-enroll-schema         {}}}}

   :NotificationTemplate
   {:patient-confirm-email
    {:template
     "<p>Verify your email using this </p>
      <a href={{confirm-address}}>link</a>"}}}}}
