{ns acl-box.custom-resources
 import #{zenbox}

 PatientAccess
 {:zen/tags     #{zen/schema zenbox/persistent}
  :zen/desc     "Resource defining user-patient relation"
  :resourceType "PatientAccess"
  :type         zen/map
  :confirms     #{zenbox/Resource}
  :keys
  {:user {:confirms #{zenbox/Reference}
          :type     zen/map
          :keys     {:resourceType {:const {:value "User"}}}}

   :patient {:confirms #{zenbox/Reference}
             :type     zen/map
             :keys     {:resourceType {:const {:value "Patient"}}}}}}}
