{ns smartbox.portal.developer.rpc
 import #{zenbox}

 registration-developer
 {:zen/tags #{zenbox/rpc}
  :params   {:type zen/map
             :keys {:first-name {:type zen/string}
                    :last-name  {:type zen/string}
                    :email      {:type zen/string}
                    :phone      {:type zen/string}
                    :role       {:type zen/string}
                    :org-name   {:type zen/string}
                    :org-url    {:type zen/string}
                    :accept-tos {:type zen/boolean}}}}

 registration-developer-confirm
 {:zen/tags #{zenbox/rpc}
  :params   {:type zen/map
             :keys {:registration-id {:type zen/string}
                    :password-1      {:type zen/string}
                    :password-2      {:type zen/string}}}}

 save-developer-application
 {:zen/tags #{zenbox/rpc}
  :params   {:type zen/map
             :keys {:application-id   {:type zen/string}    
                    :application-name {:type zen/string}
                    :confidentiality  {:type zen/string :enum [{:value "confidential"}
                                                               {:value "public"}
                                                               {:value "bulk"}]}
                    :pkce             {:type zen/boolean}
                    :redirect-url     {:type zen/string}
                    :launch-url        {:type zen/string}
                    :logo-url         {:type zen/string}
                    :org-name         {:type zen/string}
                    :org-url          {:type zen/string}
                    :policy-url       {:type zen/string}
                    :tos-url          {:type zen/string}
                    :description      {:type zen/string}
                    :bulk-jwks-uri    {:type zen/string}
                    :bulk-scope       {:type zen/any}
                    }}}

 get-developer-applications
 {:zen/tags #{zenbox/rpc}}

 get-developer-bulks
 {:zen/tags #{zenbox/rpc}}

 get-developer-application
 {:zen/tags #{zenbox/rpc}
  :params   {:type zen/map
             :keys {:id {:type zen/string}}}}

 delete-developer-application
 {:zen/tags #{zenbox/rpc}
  :params   {:type zen/map
             :keys {:id {:type zen/string}}}}

 get-developer-application-secret
 {:zen/tags #{zenbox/rpc}
  :params   {:type zen/map
             :keys {:id {:type zen/string}}}}

 send-developer-application-to-review
 {:zen/tags #{zenbox/rpc}
  :params   {:type      zen/map
             :require #{:application}
             :keys      {:application {:type zen/string}}}}

 get-developer-application-review-info
 {:zen/tags #{zenbox/rpc}
  :params   {:type      zen/map
             :require #{:application}
             :keys      {:application {:type zen/string}}}}

 revoke-application-grants
 {:zen/tags #{zenbox/rpc}
  :params {:type    zen/map
           :require #{:id}
           :keys    {:id {:type zen/string}}}}

 ;; Operator
 get-operator-review-requests
 {:zen/tags #{zenbox/rpc}}

 get-operator-review-request
 {:zen/tags #{zenbox/rpc}
  :params   {:type      zen/map
             :require   #{:id}
             :keys      {:id {:type zen/string}}}}
 }
