{ns smartbox.portal.developer.seed
 import #{aidbox}

 resources
 {:zen/tags #{aidbox/service}
  :engine    aidbox/seed
  :resources
  {:AccessPolicy
   {:dev-portal-public-rpc
    {:engine "allow-rpc"
     :type   "rpc"
     :rpc    {:smartbox.portal.developer.rpc/registration-developer                true
              :smartbox.portal.developer.rpc/registration-developer-confirm        true
              :smartbox.portal.developer.rpc/save-developer-application            true
              :smartbox.portal.developer.rpc/get-developer-applications            true
              :smartbox.portal.developer.rpc/get-developer-bulks                   true
              :smartbox.portal.developer.rpc/get-developer-application             true
              :smartbox.portal.developer.rpc/delete-developer-application          true
              :smartbox.portal.developer.rpc/get-developer-application-secret      true
              :smartbox.portal.developer.rpc/send-developer-application-to-review  true
              :smartbox.portal.developer.rpc/get-developer-application-review-info true
              :aidbox.smart/get-launch-uri                               true}}
    :dev-portal-operator-rpc
    {:description  "RPC methods for the portal operator"
     :type         "rpc"
     :engine       "matcho-rpc"
     :rpc          {:smartbox.portal.developer.rpc/get-operator-review-requests {:user {:roles [{:type "operator"}]}}
                    :smartbox.portal.developer.rpc/get-operator-review-request  {:user {:roles [{:type "operator"}]}}
                    :smartbox.portal.developer.rpc/revoke-application-grants    {:user {:roles [{:type "developer"}]}}}}}
   :NotificationTemplate
   {:developer-confirm-email
    {:template
     "<p>Verify your email using this </p>
      <a href={{confirm-address}}>link</a>"}}}}}
