{ns     acl-box
 import #{aidbox.rest
          acl-box.operations
          acl-box.custom-resources}

 box
 {:zen/tags #{aidbox/system}
  :zen/desc "test server"
  :services {:http          server
             :seed-policy   seed-policy
             :seed-fixtures seed-fixtures}}

 server
 {:zen/tags #{aidbox/service}
  :engine   aidbox/http
  :apis     #{api}}

 api
 {:zen/tags     #{aidbox.rest/api}
  "acl-example" {"Patient" {:GET  acl-box.operations/search-patient
                            [:id] {:GET acl-box.operations/read-patient
                                   :PUT acl-box.operations/update-patient}}

                 "Observation" {:GET  acl-box.operations/search-observation
                                :POST   acl-box.operations/create-observation
                                [:id] {:GET    acl-box.operations/read-observation
                                       :PUT    acl-box.operations/update-observation
                                       :DELETE acl-box.operations/delete-observation}}}}

 seed-policy
 {:zen/tags  #{aidbox/service}
  :engine    aidbox/seed
  :resources [{:resourceType "AccessPolicy"
               :id           "acl-api-allow"
               :engine       "matcho" ;; Allow `/acl-example` routes access for authenticated users
               :matcho       {:user {:id "present?"}
                              :uri  "#^/acl-example/.+$"}}]}

 seed-fixtures
 {:zen/tags  #{aidbox/service}
  :engine    aidbox/seed
  :resources {:Patient
              {:ap1 {}
               :ap2 {}}

              :User
              {:user1 {}}

              :PatientAccess
              {:ap1 {:patient {:resourceType "Patient", :id "ap1"}
                     :user    {:resourceType "User", :id "user1"}}}

              :Observation
              {:ap1obs1 {:subject {:resourceType "Patient", :id "ap1"}
                         :status  "final"
                         :code    {:coding [{:code "11557-6", :system "http://loinc.org"}]}}

               :ap1obs2 {:subject {:resourceType "Patient", :id "ap1"}
                         :status  "final"
                         :code    {:coding [{:code "11557-6", :system "http://loinc.org"}]}}

               :ap2obs1 {:subject {:resourceType "Patient", :id "ap2"}
                         :status  "final"
                         :code    {:coding [{:code "11557-6", :system "http://loinc.org"}]}}}}}}
