{ns smartbox.dev-portal
 import #{aidbox
          aidbox.rest
          hl7-fhir-r4-core
          hl7-fhir-us-core
          zenbox

          smartbox.smart-api
          smartbox.sandbox-seed

          smartbox.documentation

          smartbox.portal.seed
          smartbox.portal.rpc

          smartbox.portal.developer.rpc
          smartbox.portal.developer.seed}

 box
 {:zen/tags #{aidbox/system}
  :services {:http                  server
             :seed                  access-policies
             :sandbox-seed          smartbox.sandbox-seed/fixtures
             :portal-seed           smartbox.portal.seed/resources
             :portal-developer-seed smartbox.portal.developer.seed/resources}}

 server
 {:zen/tags #{aidbox/service}
  :engine   aidbox/http
  :apis     #{api}}

 access-policies
 {:zen/tags  #{aidbox/service}
  :engine    aidbox/seed
  :resources [{:id "smart-api"
               :resourceType "AccessPolicy"
               :engine "matcho"
               :matcho {:uri "#/smart-api/.*"
                        :session {:audience "#.+smart$"}}}
              {:id "public-index"
               :resourceType "AccessPolicy"
               :engine "matcho"
               :matcho {:uri {:$one-of ["/"
                                        ]}}}
              {:id "public-documentation"
               :resourceType "AccessPolicy"
               :engine "matcho"
               :matcho {:uri {:$one-of ["/documentation"]}}}

              {:id "public-smart-api-endpoints"
               :resourceType "AccessPolicy"
               :engine "matcho"
               :matcho {:uri {:$one-of ["/smart-api/metadata"
                                        "/smart-api/.well-known/smart-configuration"
                                        "/smart-api/style-v1.json"
                                        "/auth/consent-screen"]}}}]}

 dev-portal-ui
 {:zen/tags #{aidbox.rest/op aidbox.rest.smart/public}
  :engine   aidbox.rest.v1/aidbox-action
  :action   :box.rest.smart/smartbox-ui
  :ui-type  "sandbox"
  :iss      [[:config :base-url] "smart-api"]
  :sign-up-url "#/dev/enroll"}

 api
 {:zen/tags #{aidbox.rest/api}

  "auth" {"consent-screen" {:GET smartbox.smart-api/grant-view}}

  :GET dev-portal-ui

  "smart-api" {:apis #{smartbox.smart-api/smart-api
                   smartbox.smart-api/public-api}}}

 }
