{ns     smartbox.portal
 import #{aidbox
          aidbox.rest
          smartbox.demo-fixtures
          smartbox.smart-api
          smartbox.bulk-api

          smartbox.documentation
          smartbox.portal.config

          smartbox.portal.patient.seed
          smartbox.portal.patient.rpc

          smartbox.portal.operator.rpc
          smartbox.portal.operator.seed

          smartbox.portal.seed
          smartbox.portal.rpc

          hl7-fhir-r4-core
          hl7-fhir-us-core
          zenbox}

 box
 {:zen/tags #{aidbox/system}
  :services {:http                  server
             :seed                  access-policies
             :portal-patient-seed   smartbox.portal.patient.seed/resources
             :portal-operator-seed  smartbox.portal.operator.seed/resources
             :demo-data             smartbox.demo-fixtures/fixtures
             :portal-seed           smartbox.portal.seed/resources}}

 server
 {:zen/tags #{aidbox/service}
  :engine   aidbox/http
  :apis     #{api}}

 access-policies
 {:zen/tags   #{aidbox/service}
  :engine     aidbox/seed
  :migrations [{:id  "remove-access-policy-bulk-api-client-cancel-export"
                :sql "delete from accesspolicy where id = 'bulk-api-client-cancel-export'"}]
  :resources  [{:id           "smart-api"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri     "#/smart-api/.*"
                               :session {:audience "#.+smart$"}
                               :client  {:$not {:active false}}}}
               {:id           "inferno-public-endpoints"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri {:$one-of ["/"
                                               "/documentation"
                                               "/inferno"
                                               "/inferno/create-demo-user"
                                               "/inferno/logout"
                                               "/portal"
                                               "/admin/portal"]}}}
               {:id           "smart-api-public-endpoints"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri {:$one-of ["/smart-api/metadata"
                                               "/smart-api/.well-known/smart-configuration"
                                               "/smart-api/style-v1.json"
                                               "/auth/consent-screen"]}}}
               {:id           "portal-operator-rpc"
                :description  "RPC methods for the portal operator"
                :resourceType "AccessPolicy"
                :type         "rpc"
                :engine       "matcho-rpc"
                :rpc
                {:smartbox.portal/get-review-requests           {:user {:roles [{:type "operator"}]}}
                 :smartbox.portal/get-review-request            {:user {:roles [{:type "operator"}]}}
                 :smartbox.portal/reject-review-request         {:user {:roles [{:type "operator"}]}}
                 :smartbox.portal/accept-review-request         {:user {:roles [{:type "operator"}]}}
                 :smartbox.portal/get-deployed-applications     {:user {:roles [{:type "operator"}]}}
                 :smartbox.portal/get-deployed-application      {:user {:roles [{:type "operator"}]}}
                 :smartbox.portal/inactive-deployed-application {:user {:roles [{:type "operator"}]}}
                 :smartbox.portal/activate-deployed-application {:user {:roles [{:type "operator"}]}}}}
               {:id           "bulk-api-metadata"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri "/bulk-api/metadata"}}
               {:id           "bulk-api-redirect"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri "/bulk-api/$redirect"}}
               {:id           "bulk-api-client-group-export"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri            "#/bulk-api/Group/.+/\\$export"
                               :request-method "get"
                               :params         {:_type "nil?"}
                               :client         {:type "bulk"}}}
               {:id           "bulk-api-client-system-all-read"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri            {:$one-of ["#/bulk-api/Group/[^/]+$"
                                                          "#/bulk/Group$"]}
                               :request-method "get"
                               :client         {:type "bulk"}}}
               {:id           "bulk-api-client-can-manage-only-own-export-status"
                :resourceType "AccessPolicy"
                :engine       "sql"
                :sql          {:query "select true
from bulkexportstatus
where id = {{params.bulk-export-id}}
and {{client.id}} = resource#>>'{requester,id}'
and resource#>>'{requester,resourceType}' = 'Client'
and {{uri}} LIKE '/bulk-api/$export-status/%'
and ({{request-method}} in ('get', 'delete'))"}}

               {:id           "patient-portal-auth-public-endpoints"
                :resourceType "AccessPolicy"
                :engine       "matcho"
                :matcho       {:uri {:$one-of ["/patient/portal"]}}}]}

 api
 {:zen/tags #{aidbox.rest/api}

  :GET {:engine aidbox.rest.v1/dispatch-by-user-role
        "operator" {:engine aidbox.rest.v1/static-response
                    :status 302
                    :headers {"location" "/admin/portal"}}
        "admin" {:engine aidbox.rest.v1/static-response
                 :status 302
                 :headers {"location" "/ui/console"}}
        "patient" {:engine aidbox.rest.v1/static-response
                   :status 302
                   :headers {"location" "/patient/portal"}}
        :logged {:engine aidbox.rest.v1/static-response
                 :status 302
                 :headers {"location" "/ui/console"}}
        :guest {:engine aidbox.rest.v1/static-response
                :status 302
                :headers {"location" "/auth/login"}}}

  "documentation" {:GET {:zen/desc "Smart API documentation"
                         :engine   aidbox.rest.v1/aidbox-action
                         :action   :box.rest.smart/api-doc}}

  "auth" {"consent-screen" {:GET smartbox.smart-api/grant-view}}

  "smart-api" {:apis #{smartbox.smart-api/smart-api
                       smartbox.smart-api/public-api}}

  "patient" {"portal" {:GET {:engine   aidbox.rest.v1/aidbox-action
                             :action   :box.rest.smart/smartbox-ui
                             :ui-type  "patient-portal"}}}


  "admin" {"portal" {:GET {:engine  aidbox.rest.v1/aidbox-action
                           :action  :box.rest.smart/smartbox-ui
                           :ui-type "admin-portal"}}}

  "bulk-api"  {:apis #{smartbox.bulk-api/bulk-api}}}}
