{ns     aidbox-with-subscriptions
 import #{fhir.topic-based-subscription #_hl7-fhir-r4b-core hl7-fhir-uv-subscriptions-backport-r4b}

 ;; https://build.fhir.org/subscriptiontopic.html
 patient-topic
 {:zen/tags #{fhir.topic-based-subscription/topic-definition}
  :url "http://aidbox.app/SubscriptionTopic/patient-test-1"
  :resourceTrigger [{:resource "Patient"}]}

 postgres-patient-storage
 {:zen/tags #{fhir.topic-based-subscription/topic-storage}
  :storage-type fhir.topic-based-subscription/postgres
  :timeout  10
  :status-interval 0.5
  :maxCount 2
  :heartbeat-rate 120
  :senders-number 2
  :table-name "patient_topic"}

 patient-topic-srv
 {:zen/tags #{aidbox/service}
  :engine fhir.topic-based-subscription/change-data-capture-service-engine
  :topic-definition patient-topic
  :topic-storage postgres-patient-storage}

 box
 {:zen/tags #{aidbox/system}
  :zen/desc "box for topic test"
  :services {:patient-topic-srv patient-topic-srv
             :practitioner-topic-srv practitioner-topic-srv}}

 }
