{ns aidbox.patient-access-smart-api.sample
 import #{aidbox.patient-access-smart-api
          hl7-fhir-r4-core
          hl7-fhir-us-core
          zenbox}

 root-api
 {:zen/tags #{zenbox/api}
  "smart" {:apis #{aidbox.patient-access-smart-api/smart-api}}}


 }
