{ns     multi-box
 import #{aidbox.rest
          aidbox.rest.v1
          multi-box.operations
          multi-box.extensions}

 box
 {:zen/tags #{aidbox/system}
  :zen/desc "test server"
  :services {:http          server
             :seed-policy   seed-policy
             :seed-fixtures seed-fixtures}}

 server
 {:zen/tags #{aidbox/service}
  :engine   aidbox/http
  :apis     #{api}}

 inject-tenant-mw
 {:zen/tags #{aidbox.rest/middleware}
  :engine aidbox.rest.v1/transform-middleware
  :rules  {[:resource :meta :tenantId]  [:oauth/user :data :tenantId]}}

 api
 {:zen/tags #{aidbox.rest/api}
  "multi-example" {"Patient" {:apis #{get-patient-api change-patient-api}}}}

 get-patient-api
 {:zen/tags #{aidbox.rest/api}

  :GET  multi-box.operations/search-patient
  [:id] {:GET multi-box.operations/read-patient}}

 change-patient-api
 {:zen/tags    #{aidbox.rest/api}
  :middlewares [inject-tenant-mw]

  :POST multi-box.operations/create-patient
  [:id] {:PUT    multi-box.operations/update-patient
         :DELETE multi-box.operations/delete-patient}}

 seed-policy
 {:zen/tags  #{aidbox/service}
  :engine    aidbox/seed
  :resources [{:resourceType "AccessPolicy"
               :id           "multi-api-allow"
               :engine       "matcho" ;; Allow `/multi-example` routes access for authenticated users
               :matcho       {:user {:id "present?"}
                              :uri  "#^/multi-example/.+$"}}]}

 seed-fixtures
 {:zen/tags  #{aidbox/service}
  :engine    aidbox/seed
  :resources {:User {:t1 {:data {:tenantId "tenant1"}}
                     :t2 {:data {:tenantId "tenant2"}}}}}}
