{ns     core
 import #{aidbox
          aidbox.rest
          aidbox.rest.smart
          aidbox.rest.acl
          aidbox.rest.v1
          hl7-fhir-r4-core
          hl7-fhir-us-core
          smart-practitioner
          smart-patient
          bulk}

 grant-lookup-method
 {:zen/tags #{aidbox.auth/grant-lookup}
  :method   aidbox.auth/single-patient-grant-lookup}

 box
 {:zen/tags #{aidbox/system}
  :services {:http server
             :seed access-policies}}

 server
 {:zen/tags #{aidbox/service}
  :engine   aidbox/http
  :apis     #{api}}

 access-policies
 {:zen/tags  #{aidbox/service}
  :engine    aidbox/seed
  :resources [{:engine "matcho",
               :matcho {:uri "#/smart/patient/.*"},
               :id "inferno-patient-smart",
               :resourceType "AccessPolicy",}
              {:engine "matcho",
               :matcho {:uri "#/smart/practitioner/.*"},
               :id "inferno-practitioner-smart",
               :resourceType "AccessPolicy",}
              {:id "bulk-api-metadata",
               :resourceType "AccessPolicy",
               :engine "matcho",
               :matcho {:uri "/bulk/metadata"}}
              {:id "bulk-api-redirect",
               :resourceType "AccessPolicy",
               :engine "matcho",
               :matcho {:uri "/bulk/$redirect"}}
              {:id "bulk-api-client-system-all-read",
               :resourceType "AccessPolicy",
               :engine "matcho",
               :matcho {:uri "#(/bulk/[A-Z].+/.+/\\$export)|(/bulk/\\$export-status/.+)",
                        :client {:scope ["system/*.read"]}}}
              ]}

 oauth-middleware
 {:zen/tags #{aidbox.rest/middleware}
  :engine   aidbox.rest.smart/oauth-middleware}

 api
 {:zen/tags #{aidbox.rest/api}
  "smart"   {:middlewares   [oauth-middleware]
             "practitioner" {:apis #{smart-practitioner/api}}
             "patient"      {:apis #{smart-patient/api}}}
  "bulk"    {:apis #{bulk/api}}}}
